<h1>Rotten Magoes</h1>
<p><%= link_to "Home", root_path %></p>

<h2>Search Results</h2>

<% if @results.empty? %>
  <p>No results for that search. Try something else.</p>
<% end %>

<% @results.each do |movie| %>
  <%= link_to image_tag(movie.poster), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes | <%= movie.review_average %>/10</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>