<% flash.each do |key,value| %>
  <%= content_tag(:div, value) %>
<% end %>

<% if current_user.admin? || session[:preview]  %>
  <div class="admin-bar">
    (<%= link_to "admin", admin_users_path %>) (<a href="/?preview_as=11">view as....</a>) (<a href="/?preview_as=none">view as admin</a>)
  </div>
<% end %>


<p>Search...</p>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag(:director) %>
  <%= label_tag(:duration, "Duration:") %>
  <%= select_tag(:duration, options_for_select([['Under 90 minutes','< 90'],['Between 90 and 120 minutes','90to120'],['Over 120 minutes', '> 120']])) %>
  <%= submit_tag("search") %>
<% end %>

<h1>Rotten Mangoes</h1>
<p><%= link_to "Home", root_path %></p>

<% if session[:preview] %>
  Preview session was set. Footer should say logged in as "test user"... change the god damn current user!
<% end %>