<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key,value| %>
    <%= content_tag(:div, value) %>
  <% end %>

  <% options_for_select([['Libson',1],['Madrid',2]]) %>

  <p>Search...</p>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:title, "Title:") %>
    <%= text_field(:movie, :title) %>
    <%= label_tag(:director, "Director:") %>
    <%= text_field(:movie, :director) %>
    <%= label_tag(:duration, "Duration:") %>
    <%= select(:movie, :duration, options_for_select([['Under 90 minutes','< 90'],['Between 90 and 120 minutes','90to120'],['Over 120 minutes', '> 120']])) %>
    <%= submit_tag("search") %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</body>
</html>
